---
layout: not_found
title: 404
permalink: /404.html
---
{% include switch.html %}
<div class="name">Yassine Abouzaid</div>
<img src="{{site.baseurl}}/img/emojis/thinking-face.png" alt="">
<h1>Hmmm...</h1>
<h2>Looks like there's nothing here.<br>Maybe you should go back <a href="{{site.url}}">home</a>.</h2>
