<meta charset="UTF-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{{ site.title }}</title>
<link rel="icon" type="image/png" href="{{site.logo}}" hreflang="en-us">
<meta property="og:title" content="{{site.title}}" />
<meta property="og:description" content="{{site.description}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{site.url}}" />
<meta property="og:site_name" content="{{site.name}}" />
<meta property="og:image" content="{{site.cover}}" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="800" />
<meta property="og:image:type" content="image/png" />
<meta property="og:locale" content="en_US">
<meta name="description" content="{{site.description}}">
<meta name="keywords" content="design, ui, ux, yassine abouzaid, paris, france, french tech, product designer">
<meta name="google-site-verification" content="DCl7VAf9tcz6eD9gb67NfkNnJ1PKRNcg8qQiwpbx9Lk" />
<meta itemprop="name" content="{{site.title}}">
<meta itemprop="description" content="{{site.description}}">
<meta itemprop="image" content="{{site.cover}}">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{site.url}}">
<meta name="twitter:site" content="@bchiang7">
<meta name="twitter:creator" content="@bchiang7">
<meta name="twitter:title" content="{{site.title}}">
<meta name="twitter:description" content="{{site.description}}">
<meta name="twitter:image:src" content="{{site.cover}}">
<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" hreflang="en-us">
