<header class="intro">
  <h1 class="intro__hello">سلام
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Yassine Abouzaid</span>, a Product Designer focused on building user-centeric minimalist interfaces &amp; experiences.
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:yassineabouzaid@hotmail.com" target="_blank" class="highlight-link">yassineabouzaid@hotmail.com</a>
    </span>
  </h3>
</header>
